<div *ngIf="render" class="">

    <div class="alert alert-info alert-dismissible">
        <h4><i class="icon fa fa-ban"></i> {{ randomARG.entry.database }} Alert!</h4>
        <strong>This Gene could not be found in the {{ randomARG.entry.database }} database</strong>
        <p>
            The entry {{ randomARG.entry.gene_id }} is no longer active in the {{ randomARG.entry.database }} database. Please take a look at the other information to curate/reject the gene.
        </p>
    </div>

</div>