<div style="overflow: auto" class="">
    <h3>Instructions</h3>
    <p>
        The goal of this platform is to validate and complement the information under the <strong> Current Annotation </strong> panel by looking at the data presented in the main section. Then, you will have to fill the form uder the <strong>ARG Annotation</strong>        section.
    </p>
    <h4>1. Get familiar with the environment</h4>
    <p>
        In order to understand the structure of this website, please, click on the <strong>Tour</strong> button.
    </p>
    <h4>2. New user</h4>
    <p class="">
        If this is the first time you enter the website, you are required to perform five classifications. To do so, click the <strong>New User</strong> button and perform three ARG annotations.
    </p>

    <h4>3. How to get a reward </h4>
    <p>
        Once you have done with the training, you are ready to start. First, click on <strong>Priority ARGs</strong> button and perform one annotation. After you done with the annotation you will get a token number. Please, copy and paste this token to
        the Amazon Mturk website and submit the form. If you plan to make another Hit <strong><span style="color:red">DO NOT close the ARG-miner website.</span></strong> Other case you will have to do the training again.
    </p>

    <h4>4. Perform a new Hit</h4>
    <p>
        First, open a new hit in Amazon Mturk, then, get back to this webpage and just click on the <strong>Other ARG Group</strong> button. Perform the annotation and submit the token to Amazon Mturk.
    </p>

    <strong><h4 style="color:red"> Be Aware! </h4></strong>
    <p>
        If you don't do the mandatory training, the system <strong>will not</strong> prompt the token.
    </p>
    <p>
        If the annotation contains random, unrelated or nonsense words, the HIT will be rejected.
    </p>

</div>