<div *ngIf='session.get("online") >=1'>


    <div class="col-md-12 col-md-offset-0">
        <div class="box box-solid">
            <md-card class="example-card">

                <md-card-header>
                    <div md-card-avatar [style.backgroundSize]="'cover'" [style.backgroundImage]=" 'url('+ user_image + ')' ">
                    </div>
                    <md-card-subtitle>
                        <span> <strong> {{ session.get('user')['user'] }} </strong></span> <br>
                        <span> {{ session.get('user')['institution'] }}</span> <br>
                        <span class=""> {{ session.get('user')['email'] }} </span> <br>
                        <strong *ngIf="session.get('online')===2"> Administrator</strong> <br>
                        <span>account created on: {{ session.get('user')['date'] }}</span> <br>
                    </md-card-subtitle>
                </md-card-header>


                <md-card-content class="box-fixed-height">
                    <app-profile-stats></app-profile-stats>
                </md-card-content>
            </md-card>
        </div>

    </div>


    <div class="col-md-12">
        <div class="box box-solid">
            <md-card class="example-card">
                <h3>Settings</h3>
                <md-card-content class="box-fixed-height">
                    <div class="ui-g ui-fluid">

                        <h4 class="first">Change User Information</h4>
                        <div class="ui-g-12 ui-md-12">
                            <div class="ui-inputgroup">
                                <input type="text" pInputText [placeholder]="info.user" [(ngModel)]="info.user">
                                <button (click)="change_info('user')" pButton type="button" label="Change"></button>
                            </div>
                        </div>

                        <div class="ui-g-12 ui-md-12">
                            <div class="ui-inputgroup">
                                <input type="text" pInputText [placeholder]="info.institution" [(ngModel)]="info.institution">
                                <button (click)="change_info('institution')" pButton type="button" label="Change"></button>
                            </div>
                        </div>

                        <div class="ui-g-12 ui-md-12">
                            <div class="ui-inputgroup">
                                <input type="text" pInputText [placeholder]="info.email" [(ngModel)]="info.email">
                                <button (click)="change_info('email')" pButton type="button" label="Change"></button>
                            </div>
                        </div>
                    </div>
                </md-card-content>

                <md-card-content class="box-fixed-height">
                    <h4>Change Password</h4>
                    <div class="ui-g ui-fluid">
                        <div class="ui-g-12 ui-md-12">
                            <div class="ui-inputgroup">
                                <input type="password" pPassword [(ngModel)]="pass.pass1" placeholder='current password' />
                            </div>
                        </div>

                        <div class="ui-g-12 ui-md-12">
                            <div class="ui-inputgroup">
                                <input type="password" pPassword [(ngModel)]="pass.pass2" placeholder='new password' />
                            </div>
                        </div>

                        <div class="ui-g-12 ui-md-12">
                            <div class="ui-inputgroup">
                                <input type="password" pPassword [(ngModel)]="pass.pass3" placeholder='re-enter password' />
                            </div>
                        </div>

                        <div class="ui-g-12 ui-md-12">
                            <div class="ui-inputgroup">
                                <button (click)="change_password()" pButton type="button" label="Change Password" class="ui-button-rounded"></button>
                            </div>
                        </div>
                    </div>
                </md-card-content>

            </md-card>
        </div>

    </div>


    <div *ngIf="session.get('online')===2" class="col-md-12">
        <div class="box box-solid">
            <md-card class="example-card">
                <h3>Administration</h3>
                <md-card-content class="box-fixed-height">
                    <div class="ui-g ui-fluid">

                        <h4 class="first">Add or remove user from administration</h4>
                        <div class="col-md-12 col-md-offset-0">
                            <div class="ui-inputgroup">
                                <input type="text" pInputText placeholder="user email" [(ngModel)]="add_admin_email">
                                <button (click)="search_user_by_email()" pButton type="button" label="Search User"></button>
                            </div>

                            <div *ngIf="new_admin_user">
                                <br>
                                <ul class="list-group list-group-unbordered">
                                    <li class="list-group-item">
                                        <b>User Name</b> <a class="pull-right">{{ new_admin_user.user }}</a>
                                    </li>
                                    <li class="list-group-item">
                                        <b>User Score</b> <a class="pull-right">{{ new_admin_user.views }}</a>
                                    </li>
                                    <li class="list-group-item">
                                        <b>User Institution</b> <a class="pull-right">{{ new_admin_user.institution }}</a>
                                    </li>
                                    <li class="list-group-item">
                                        <b>User email</b> <a class="pull-right">{{ new_admin_user.email }}</a>
                                    </li>
                                </ul>

                                <button class="text-center" (click)="confirm_administrator(2)" pButton type="button" label="Confirm User as Administrator"></button>
                                <br><br>
                                <button class="text-center" (click)="confirm_administrator(1)" pButton type="button" label="Remove User from Administration"></button>
                            </div>

                        </div>
                    </div>


                </md-card-content>

            </md-card>
        </div>

    </div>


    <div class="col-md-12">
        <br><br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br><br>
    </div>


</div>