<div *ngIf='session.get("online") >=1'>

    <div class="col-md-3 col-md-offset-3">
        <div class="box box-solid">
            <md-card class="example-card">

                <md-card-header>
                    <div md-card-avatar [style.backgroundSize]="'cover'" [style.backgroundImage]=" 'url('+ user_image + ')' "></div>
                    <md-card-subtitle>
                        <span> <strong> {{ session.get('user')['user'] }} </strong></span> <br>
                        <span> {{ session.get('user')['institution'] }}</span> <br>
                        <span class=""> {{ session.get('user')['email'] }} </span> <br>
                        <strong *ngIf="session.get('online')===2"> Administrator</strong> <br>
                        <span>account created on: {{ session.get('user')['date'] }}</span> <br>
                    </md-card-subtitle>
                </md-card-header>


                <md-card-content class="box-fixed-height">
                    <app-profile-stats></app-profile-stats>
                </md-card-content>
            </md-card>
        </div>

    </div>


    <div class="col-md-3">
        <div class="box box-solid">
            <md-card class="example-card">
                <h3>Settings</h3>
                <md-card-content class="box-fixed-height">
                    <div class="ui-g ui-fluid">

                        <h4 class="first">Change User Information</h4>
                        <div class="ui-g-12 ui-md-12">
                            <div class="ui-inputgroup">
                                <input type="text" pInputText [placeholder]="info.user" [(ngModel)]="info.user">
                                <button (click)="change_info('user')" pButton type="button" label="Change"></button>
                            </div>
                        </div>

                        <div class="ui-g-12 ui-md-12">
                            <div class="ui-inputgroup">
                                <input type="text" pInputText [placeholder]="info.institution" [(ngModel)]="info.institution">
                                <button (click)="change_info('institution')" pButton type="button" label="Change"></button>
                            </div>
                        </div>

                        <div class="ui-g-12 ui-md-12">
                            <div class="ui-inputgroup">
                                <input type="text" pInputText [placeholder]="info.email" [(ngModel)]="info.email">
                                <button (click)="change_info('email')" pButton type="button" label="Change"></button>
                            </div>
                        </div>
                    </div>
                </md-card-content>

                <md-card-content class="box-fixed-height">
                    <h4>Change Password</h4>
                    <div class="ui-g ui-fluid">
                        <div class="ui-g-12 ui-md-12">
                            <div class="ui-inputgroup">
                                <input type="password" pPassword [(ngModel)]="pass.pass1" placeholder='current password' />
                            </div>
                        </div>

                        <div class="ui-g-12 ui-md-12">
                            <div class="ui-inputgroup">
                                <input type="password" pPassword [(ngModel)]="pass.pass2" placeholder='new password' />
                            </div>
                        </div>

                        <div class="ui-g-12 ui-md-12">
                            <div class="ui-inputgroup">
                                <input type="password" pPassword [(ngModel)]="pass.pass3" placeholder='re-enter password' />
                            </div>
                        </div>

                        <div class="ui-g-12 ui-md-12">
                            <div class="ui-inputgroup">
                                <button (click)="change_password()" pButton type="button" label="Change Password" class="ui-button-rounded"></button>
                            </div>
                        </div>
                    </div>
                </md-card-content>

            </md-card>
        </div>

    </div>

</div>