<div class="navbar navbar-default navbar-fixed-top">
    <div class="container-par">
        <!-- <div class="col-md-12"> -->
        <div class="navbar-header">
            <!-- <div class="col-md-1"> -->
            <!-- </div> -->
            <a routerLink="home" class="navbar-brand">ARG-miner</a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        </div>

        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">

                <li>
                    <a routerLink="home">Home</a>
                </li>

                <li>
                    <a routerLink="classify">Classify</a>
                </li>
                <li>
                    <a routerLink="database">Download</a>
                </li>
                <li>
                    <a routerLink="about" target="_blank">Instructions</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a routerLink="admin">Admin</a></li>
            </ul>

        </div>
        <!-- </div> -->
    </div>
</div>

<hr>
<br>
<br>
<div class="container-par">
    <!-- <div class="wrapper"> -->
    <router-outlet></router-outlet>
    <!-- </div> -->
</div>

<!-- <footer class="col-lg-12 main-footer">
    <div class="pull-right">
        <b>Version</b> 1.0
    </div>
    <strong>Copyright © 2016-2017 <a href="">ZhangLab - Virginia Tech</a>.</strong> All rights reserved.
</footer> -->