<div class="navbar navbar-default navbar-fixed-top">
    <div class="container-par">
        <!-- <div class="col-md-12"> -->
        <div class="navbar-header">
            <!-- <div class="col-md-1"> -->
            <!-- </div> -->
            <a routerLink="home" class="navbar-brand">ARGminer</a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        </div>



        <ul class="nav navbar-nav">
            <li *ngIf='session.get("online") >=1'>
                <a routerLink="profile"> {{session.get('user')['user']}} </a>
            </li>

            <li>
                <a routerLink="home">Home</a>
            </li>

            <li>
                <a routerLink="classify">Inspect ARGs</a>
            </li>

            <li>
                <a routerLink="forum">Blog</a>
            </li>

            <li>
                <a routerLink="database">Database</a>
            </li>

            <li>
                <a (click)="open_instructions()"> Instructions</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li *ngIf='session.get("online") == false || session.get("online") == 0 '><a routerLink="login">Login</a></li>
            <li *ngIf='session.get("online") == 2'><a routerLink="admin">Admin</a></li>
            <li *ngIf='session.get("online") >=1'><a (click)="logout()">Logout</a></li>

        </ul>

        <!-- </div> -->
        <!-- </div> -->
    </div>
</div>



<div class="container-par">
    <br><br><br><br>
    <div class="wrapper">
        <router-outlet></router-outlet>
    </div>
</div>