<div class="container-fluid home-font">

    <div class="jumbotron">
        <div class="row">


            <div class="col-md-6">
                <h1 class="display-3">ARGminer</h1>
                <p class="lead">
                    <strong>A</strong>ntibiotic <strong>R</strong>esistance <strong>G</strong>ene <strong>miner</strong> database
                </p>
                <hr class="my-4">
                <p>An online resource for the inspection and curation of ARGs based on crowdsourcing as well as a platform to promote interaction and collaboration for the ARG scientific community.</p>
                <a routerLink="/classify" class="btn btn-primary btn-large">Inspect ARGs</a>
                <a routerLink="/database" class="btn btn-primary btn-large">Download</a>
                <a routerLink="/forum" class="btn btn-primary btn-large">Have questions?</a>
                <a routerLink="/login" class="btn btn-primary btn-large">Register</a>
            </div>

            <div class="col-md-6 btn-holder">
                <img src="assets/images/ARGminer_pipeline.svg" alt="pipeline">
                <!-- <a href='https://www.freepik.com/free-vector/ten-workflow-slide-templates-set_1371515.htm'>Designed by
              Katemangostar</a> -->
            </div>

        </div>
    </div>


    <hr class="my-4">


    <div class="row">
        <div *ngFor='let item of info' class="col-md-3 no-gutter">
            <div class="panel panel-primary no-gutter">
                <h3 class="panel-heading">{{item.title}}</h3>
                <div class="panel-body">
                    <h5 class="panel-title">{{item.subtitle}}</h5>
                    <h6 class="panel-subtitle text-muted">{{item.subsubtitle}}</h6>
                </div>
                <img [src]="item.image" alt="Card image">
                <!-- <a href='https://www.freepik.com/free-vector/hands-putting-puzzle-pieces-together_795183.htm'>Designed by Freepik</a> -->
                <div class="panel-body">
                    <p class="panel-text">
                        {{item.description}}
                    </p>
                </div>

                <div class="panel-body">
                    <a routerLink="/classify" class="card-link">Inspect ARGs</a>
                </div>

            </div>
        </div>

    </div>

    <hr class="my-4">

    <div class="row">
        <!-- <a href='https://www.freepik.com/free-vector/modern-timeline-graphic-in-blue-and-green-tones_829202.htm'>Designed by Freepik</a> -->
        <div class="col-md-9">
            <app-home-database></app-home-database>
        </div>

        <div class="col-md-3">
            <!-- <a class="twitter-timeline" data-height="400" href="https://twitter.com/MetagenomicsVT?ref_src=twsrc%5Etfw"></a> -->
        </div>

    </div>
    <hr>



</div>



<div class="container-fluid">
    <footer class="footer" style="background:white">
        <br><br>

        <div class="col-md-2 col-md-offset-4 funding" style="width:7%">
            <img src="assets/images/nsf.jpg" alt="">
        </div>
        <div class="col-md-2 funding">
            <img src="assets/images/vt.jpg" alt="">
        </div>
        <div class="col-md-2 funding">
            <img src="assets/images/heard.png" alt="" style="width:60%">
        </div>
        <br><br><br><br>
        <div class="col-md-12"></div>

    </footer>
</div>