<div class="col-md-12 col-md-offset-0">
    <h3 class="home-title">ARG-miner: A crowd sourcing platform for the curation of antibiotic resistance genes</h3>
    <hr>
</div>

<div class="col-md-10 col-md-offset-1 text-center">

    <div class="col-md-3">
        <h4 class="home-title">What is Antibiotic Resistance?</h4>
        <p>
            Antibiotics are medicines used to prevent and treat bacterial infections. Antibiotic resistance occurs when bacteria change in response to the use of these medicines. Bacteria, not humans or animals, become antibiotic-resistant. These bacteria may infect
            humans and animals, and the infections they cause are harder to treat than those caused by non-resistant bacteria. Antibiotic resistance is rising to dangerously high levels in all parts of the world. New resistance mechanisms are emerging
            and spreading globally, threatening our ability to treat common infectious diseases. A growing list of infections – such as pneumonia, tuberculosis, blood poisoning and gonorrhoea – are becoming harder, and sometimes impossible, to treat as
            antibiotics become less effective.
        </p>
    </div>

    <div class="col-md-3">
        <h4 class="home-title">What is crowdsourcing?</h4>
        <p>
            Antibiotics are medicines used to prevent and treat bacterial infections. Antibiotic resistance occurs when bacteria change in response to the use of these medicines. Bacteria, not humans or animals, become antibiotic-resistant. These bacteria may infect
            humans and animals, and the infections they cause are harder to treat than those caused by non-resistant bacteria.
        </p>
    </div>

    <div class="col-md-6">
        <h4 class="home-title">Why ARG-miner?</h4>
        <p>
            Antibiotics are medicines used to prevent and treat bacterial infections. Antibiotic resistance occurs when bacteria change in response to the use of these medicines. Bacteria, not humans or animals, become antibiotic-resistant. These bacteria may infect
            humans and animals, and the infections they cause are harder to treat than those caused by non-resistant bacteria.
        </p>
    </div>

</div>