<div class="container-fluid home-font">

    <div class="jumbotron">
        <div class="row">


            <div class="col-md-6">
                <h1 class="display-3">ARGminer</h1>
                <p class="lead">
                    <strong>A</strong>ntibiotic <strong>R</strong>esistance <strong>G</strong>ene <strong>miner</strong> database
                </p>
                <hr class="my-4">
                <p>A database and crowdsourcing platform for the inspection and validation of antibiotic resistance genes</p>
                <a routerLink="/classify" class="btn btn-primary btn-large">Help to validate ARGs</a> <a routerLink="/database" class="btn btn-primary btn-large">Download</a>
            </div>

            <div class="col-md-6 btn-holder">
                <img src="assets/images/ARGminer_pipeline.svg" alt="pipeline">
                <!-- <a href='https://www.freepik.com/free-vector/ten-workflow-slide-templates-set_1371515.htm'>Designed by
              Katemangostar</a> -->
            </div>

        </div>
    </div>


    <hr class="my-4">


    <div class="row">
        <div *ngFor='let item of info' class="col-md-3 no-gutter">
            <div class="panel panel-primary no-gutter">
                <h3 class="panel-heading">{{item.title}}</h3>
                <div class="panel-body">
                    <h5 class="panel-title">{{item.subtitle}}</h5>
                    <h6 class="panel-subtitle text-muted">{{item.subsubtitle}}</h6>
                </div>
                <img [src]="item.image" alt="Card image">
                <!-- <a href='https://www.freepik.com/free-vector/hands-putting-puzzle-pieces-together_795183.htm'>Designed by Freepik</a> -->
                <div class="panel-body">
                    <p class="panel-text">
                        {{item.description}}
                    </p>
                </div>

                <div class="panel-body">
                    <a routerLink="/classify" class="card-link">Inspect ARGs</a>
                </div>

            </div>
        </div>

    </div>




    <!-- <div class="box box-solid">
        <div class="box-body">
            <div class="logo-text text-center">
                <span class="home-logo"><strong>ARG-miner:</strong>
          A database and crowdsourcing platform for the inspection
          and validation of
          antibiotic resistance genes
        </span>
                <hr>
            </div>
            <p>
                Welcome to ARG-miner, a powerful open access web-platform dedicated to the inspection, curation and exploration of <strong>A</strong>ntibiotic <strong>R</strong>esitance <strong>G</strong>enes (ARGs). ARG-miner offers a novel approach
                to validate the ARGs annotation by inspecting their metadata and relationship with known ARGs resources. It enables the detection of genes that have evidence of being transferred by mobile genetic elements and evidence about the pathogenic
                hosts. We use a set of different databases including: <a href="https://bench.cs.vt.edu/deeparg/" target="_blank">deepARG-DB</a>,
                <a href="https://card.mcmaster.ca/home" target="_blank">CARD</a>, <a href="https://ardb.cbcb.umd.edu/" target="_blank">ARDB</a>,
                <a href="http://www.uniprot.org/" target="_blank">UniProt</a>,
                <a href="https://megares.meglab.org/" target="_blank">MEGARes</a>,
                <a href="http://aclame.ulb.ac.be/" target="_blank">ACLAME</a>, <a href="https://www.patricbrc.org/" target="_blank">PATRIC</a> and <a href="https://www.ncbi.nlm.nih.gov/pubmed/" target="_blank">PubMed</a>.
            </p>
            <hr>
            <a class="btn btn-primary " href="#/classify">Get Started</a>
            <a class="btn btn-primary " href="#/database">Download</a>

        </div>
    </div> -->


    <hr>
</div>

<div class="container-fluid">
    <footer class="footer" style="background:white">
        <br><br>

        <div class="col-md-2 col-md-offset-4 funding" style="width:7%">
            <img src="assets/images/nsf.jpg" alt="">
        </div>
        <div class="col-md-2 funding">
            <img src="assets/images/vt.jpg" alt="">
        </div>
        <div class="col-md-2 funding">
            <img src="assets/images/heard.png" alt="" style="width:60%">
        </div>
        <br><br><br><br>
        <div class="col-md-12"></div>

    </footer>
</div>