<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" width="425"></p-confirmDialog>
<br>


<masonry [options]="{ transitionDuration: '1s' }">
    <masonry-brick *ngFor="let item of masonryItems " class="brick col-md-4">

        <div class="box">
            <md-card class="example-card">
                <h4 class="title-post" (click)="go_to_question(item)">
                    <strong> <u> {{item.title}} </u> </strong>
                </h4>

                <md-card-header>
                    <div md-card-avatar md-card-avatar [style.backgroundSize]="'cover'" [style.backgroundImage]=" 'url('+ item.user_image + ')' "></div>
                    <md-card-subtitle>
                        <span> <strong> {{item.user}} </strong> - {{item.time_ago}}</span> <br>
                        <span class="badge" *ngFor='let tag of item.tags'> <strong> {{tag.name}} </strong> </span>

                    </md-card-subtitle>
                </md-card-header>

                <md-card-content class="box-fixed-height">
                    <br>
                    <div class="text-body-box ui-summary" [innerHTML]="item.body.substring(0, 200).replace('h2', 'p').replace('h1', 'p').replace('<br>', '') "></div>
                </md-card-content>

                <md-card-actions>
                    <button (click)="go_to_question(item)" md-button>VIEW</button>
                    <button (click)="edit_question(item._id)" md-button [disabled]="session.get('user')['email'] !== item.email">EDIT</button>
                    <button (click)='follow_post(item)' md-button [disabled]="session.get('online')==0">{{ item.am_I_following}}</button>
                    <button (click)='remove_post(item._id, item.index)' md-button [disabled]="session.get('user')['email'] !== item.email">REMOVE</button>

                </md-card-actions>

            </md-card>
        </div>
    </masonry-brick>
</masonry>

<div class="col-md-12 text-center ">
    <a (click)="get_more_posts()" class="btn btn-primary "> <strong> Load More </strong></a>
</div>



<div class="col-md-12 ">
    <br><br><br><br>
</div>