<div class="col-md-12">
    <a routerLink="new_question" class="btn btn-primary pull-right"> <strong> Create a new Post </strong></a>
</div>
<br><br><br>

<div *ngFor="let item of masonryItems " class="col-md-4">
    <div class="box box-solid">
        <md-card class="example-card box-fixed-height">
            <!-- <img md-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg " alt="Photo of a Shiba Inu "> -->

            <md-card-content>
                <a class='masonry-item' (click)="go_to_question(item._id) ">
                    <h4> <strong> {{item.title}} </strong> </h4>
                </a>

                <span class="badge" *ngFor='let tag of item.tags'> <strong> {{tag.name}} </strong> </span>
                <hr>
                <div class="text-body-box text-justify " [innerHTML]="item.body.substring(0, 150)+ '...' "></div>

                <i *ngIf="session.get('user')['email'] === item.email" (click)='remove_post(item._id, item.index)' class="fa fa-trash icon-options" aria-hidden="true"></i>

            </md-card-content>
        </md-card>
    </div>
</div>


<div class="col-md-12 text-center ">
    <a routerLink="new_question " class="btn btn-primary "> <strong> Load More </strong></a>
</div>

<div class="col-md-12 ">
    <br><br><br><br>
</div>