.box-fixed-height {
    height: auto !important;
}

.masonry-item {
    background-color: #FFFFFF;
    color: #000;
}

.icon-options:hover {
    color: red !important;
    cursor: pointer;
}

.title-post:hover {
    color: rgba(21, 71, 120, 1) !important;
    cursor: pointer;
}

.masonry-item:hover .text-muted {
    color: #FFFFFF;
}

.text-body-box {
    word-wrap: break-word;
}

.example-header-image {
    background-image: url('../../../assets/images/admin.svg');
    background-size: cover;
    /* background-color: rgba(21, 171, 200, 1) !important; */
}

.example-card {
    border: 1px #000000 !important;
    box-shadow: 0 0px 0px 0px rgba(0, 0, 0, .2), 0 0px 0px 0 rgba(0, 0, 0, .14), 0 0px 0px 0 rgba(0, 0, 0, .12) !important;
}

.grid-item {
    width: 20%;
}

.ui-summary {
    color: rgba(0, 0, 0, .54) !important;
    font-weight: 400 !important;
}