<div class="col-md-12 col-md-offset-0">


    <div class="col-md-12">
        <a routerLink="new_question" class="btn btn-primary pull-right"> <strong> Create a new Post </strong></a>
        <a routerLink="/forum" class="btn btn-info pull-right">All Posts</a>
        <!-- <a (click)='view_search_bar()' class="btn btn-info pull-right">Search</a> -->
    </div>

    <div *ngIf="!hide_search" class="col-md-12">
        <div class="box-body">
            <h4> Type and search by keywords </h4>
            <p-chips (onAdd)="search()" (onRemove)="search()" [(ngModel)]="keywords"></p-chips>
            <span (click)='go_to_option(option)' class='badge bg-success hand' *ngFor="let option of navigation_options">
        <strong>{{ option.label }}</strong></span>
        </div>

        <div class="box-body">
            <a class='a-link' (click)='go_to_blog_help()'>How to use ARGminer blog?</a> <br>
        </div>
    </div>

</div>


<div class="col-md-12">
    <router-outlet></router-outlet>
</div>

<div class="col-md-3 no-gutter">
    <br><br><br>
</div>