.no-gutter {
    padding-right: 0;
    padding-left: 0;
}

.flex-box {
    display: flex;
    flex-direction: row;
}

.flex-input {
    flex-grow: 2;
    border: none;
}

.remove-tag:hover {
    cursor: pointer;
    color: #022b6d;
}

.tag-line {
    display: inline-block;
}

.categories {
    cursor: pointer;
}

.categories-block {
    display: inline-block;
}

.categories:hover {
    transform: scale(1.1);
    color: #000000 !important;
}