<div class="col-md-12" *ngIf='session.get("online") >=1'>
    <div class="col-md-12 post-form">
        <!-- <div class="panel-body"> -->

        <div class="col-md-12 no-gutter">

            <md-input-container class="col-md-12 no-gutter">
                <h3> Title </h3>
                <input mdInput placeholder="" #ftitle>
            </md-input-container>
        </div>

        <div class="col-md-12 no-gutter">
            <!-- <h3> Body </h3> -->
            <div class="box">
                <quill-editor [style]="{'height':'450px'}" [modules]="editor_modules" [(ngModel)]="text"></quill-editor>
            </div>
        </div>
        <br><br>

        <div class="col-md-12 no-gutter tag-line">
            <h3> Categories</h3>
            <p>Click in at least one of the following categories: </p>
            <div class="categories-block" *ngFor="let key of categories">
                <span (click)='add_category(key)' class="badge bg-green categories"> <strong> {{key.name}} </strong></span>
            </div>
            <br><br>
        </div>

        <div class="col-md-12 no-gutter tag-line">
            <h3> Tags </h3>
            <p-chips [(ngModel)]="keywords"></p-chips>
            <p>And any other relevant keyword you consider relevant for your post. To add a tag <u>type the keyword and hit
          enter</u>.</p>
        </div>

        <div class="col-md-12 no-gutter">
            <br>
            <a (click)="post_question(ftitle.value)" class="btn btn-primary">Publish</a>
            <a routerLink="/forum" class="btn btn-danger">Cancel</a>
        </div>
        <!-- </div> -->
    </div>
</div>