<div *ngIf="render">
    <div *ngFor="let bh of randomARG.besthit.alignments">
        <div *ngIf="bh.best_hit_database!=='CARD' && bh.best_hit_database!=='ARDB'" class="">
            <div class="box box-solid ">
                <div class="box-header with-border">
                    <i class="fa fa-gears"></i>

                    <h3 class="box-title"><strong> {{ bh.best_hit_database }} </strong> Database </h3>
                </div>
                <div class="box-body">

                    <strong> Antibiotic Class: </strong> {{ bh.type }}<br>
                    <strong> Gene Name: </strong> {{ bh.subtype }}<br>
                    <strong> Antibiotic Mechanism: </strong> {{ bh.mechanism }}<br>

                </div>
            </div>
        </div>
    </div>
    <!-- <hr> -->
</div>