<p-growl class="user_growl" [(value)]="notification"></p-growl>

<div *ngIf="!render" class="col-md-0 col-md-offset-0">
</div>

<div *ngIf="render">
    <!--Left panel-->
    <div class="col-sm-3 ">
        <!-- <div class=""> -->
        <div *ngIf="randomARG.status==true" class="">
            <!-- <div class="col-md-12"> -->

            <div class="box box-solid ">
                <div class="box-header with-border">



                    <i class="fa fa-gears"></i>
                    <!-- <p *ngIf="loading"><md-progress-bar mode="indeterminate"></md-progress-bar></p>  -->
                    <h3 class="box-title"><strong>Gene to validate</strong> </h3>


                </div>
                <div class="box-body">

                    <dl id="step1" class="dl">

                        <strong>Database:</strong>
                        <span class="">{{ randomARG.entry.database }}</span>
                        <br>
                        <strong data-intro="step1">Gene ID:</strong>
                        <span class="">{{ randomARG.entry.gene_id }} ({{ randomARG.inspected.length }})</span>
                        <br>
                    </dl>

                    <div id="step3">
                        <md-slide-toggle (change)="trainingARGEvent($event)" [checked]="trainingARGFlag"><strong>Enable
                                Training</strong></md-slide-toggle>
                        <p class="small">Enable this option if this is the first time you enter the website.</p>
                    </div>
                    <!-- <hr> -->
                    <div id="step4">
                        <md-slide-toggle (change)="selectConflictedArgEvent($event)"
                            [checked]="conflictedArgSubtypeFlag"><strong>Priority ARGs</strong></md-slide-toggle>
                        <p class="small">This option selects ARGs with high priority of curation.</p>
                    </div>
                    <hr>



                    <div *ngIf="loading==false && conflictedArgSubtypeFlag">

                        <h4> Conflicted ARGs </h4>
                        <p class="small">This section contains the list of ARGs under the category
                            {{ conflictingARGSubtype.subtype }} that present inconsistences respect its ARG class
                            annotation.</p>
                        <!-- <div class="box-body"> -->
                        <!-- <p> <strong>Gene:</strong> <mark>{{ conflictingARGSubtype.subtype }}</mark></p> -->
                        <div *ngFor="let item of conflictingARGSubtype.conflict">
                            <strong>{{ item.class }}</strong> {{ item.genes.length }}
                        </div>
                        <hr>
                        <button (click)="nextGene()" class="" color="primary" md-raised-button>Random ARG</button>
                        <button (click)="nextGeneConflictList()" class="" color="warn" md-raised-button>Next
                            ARG</button>
                        <!-- </div> -->
                    </div>

                    <div *ngIf="conflictedArgSubtypeFlag==false && trainingARGFlag==false"
                        class="col-md-12 text-center">
                        <button (click)="nextGene()" class="" color="primary" md-raised-button>Random ARG</button>
                    </div>

                    <div *ngIf="trainingARGFlag && conflictedArgSubtypeFlag==false" class="col-md-12 text-center">
                        <button (click)="trainingARGNextGene()" class="" color="primary" md-raised-button>Next
                            ARG</button>
                    </div>

                </div>

                <!-- /.box-body -->
                <!-- </div> -->
                <!-- /.box -->
            </div>

            <!-- <app-comments></app-comments> -->

        </div>


        <div class="box box-solid">
            <div class="box-body">
                <app-activity> </app-activity>
            </div>
        </div>

    </div>


    <div class="col-sm-6 col-sm-offset-0">
        <app-explore></app-explore>
        <div *ngIf="randomARG.status==true && loading==false && ARG_display">
            <br>
            <div *ngFor="let bh of randomARG.besthit.alignments">
                <besthit-metadata-ardb *ngIf="bh.best_hit_database=='ARDB'"> </besthit-metadata-ardb>
                <besthit-metadata-card *ngIf="bh.best_hit_database=='CARD'"> </besthit-metadata-card>
            </div>
            <!-- </md-tab> -->

            <!-- OTHER DATABASES  -->
            <div id="step9">
                <app-generic></app-generic>
            </div>

            <!-- <h4 *ngIf="randomARG.entry.database=='UNIPROT'">Metadata</h4> -->

            <!--METADATA SECTION-->
            <div id="step6">
                <classify-metadata-uniprot *ngIf="randomARG.entry.database=='UNIPROT'"> </classify-metadata-uniprot>
            </div>
            <classify-metadata-card> </classify-metadata-card>
            <br>
            <div>
                <div class="box box-solid ">
                    <div class="box-header with-border">
                        <h3 class="box-title"> <strong>Protein sequence</strong> ({{ randomARG.entry.gene_id }}) </h3>
                    </div>
                    <div class="box-body">
                        <p class="sequence small"> ><strong>{{randomARG.entry.gene_id}}</strong> <br>
                            {{ randomARG.entry.sequence }}
                        </p>
                    </div>
                </div>
            </div>
            <br>
        </div>

        <div id="step10">
            <genome-metadata *ngIf="randomARG.entry.database=='UNIPROT'"></genome-metadata>
            <genome-metadata *ngIf="randomARG.entry.database=='CARD'"></genome-metadata>
            <genome-metadata *ngIf="randomARG.entry.database=='ARDB'"></genome-metadata>
        </div>

    </div>


    <!-- <div class="col-sm-3"> -->
    <div id="step11" class="curate-nav">
        <!-- <aside class="control-sidebar control-sidebar-open"> -->
        <app-curate></app-curate>
        <!-- </aside> -->
    </div>
    <!-- </div> -->
</div>