.curate-nav {
    right: 5%;
    width: 21.5%;
    overflow: scroll;
    max-height: 80%;
}

.sequence {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.user_growl {
    position: absolute !important;
    top: 20px !important;
    z-index: 9999 !important;
}