
<div class="container-fluid">

      <div *ngIf="!render">
        <md-progress-bar mode="indeterminate"></md-progress-bar>
      </div>

      <div *ngIf="render">
        <md-input-container class='col-sm-6 col-sm-offset-6'>
          <input #keyword (keyup.enter)="getARG(keyword.value)" mdInput placeholder="Insert gene identifier " value=""/>
        </md-input-container>

        <!--DEEPARG ENTRY-->
        <div *ngIf="randomARG.status==true" class="col-md-12">

          

          <div class="col-md-4">
            <div class="box box-solid box-primary">
              <div class="box-header with-border">

                <i *ngIf="!loading" class="fa fa-gears"></i>
                <p><md-progress-bar class="col-md-8"  *ngIf="loading" mode="indeterminate"></md-progress-bar></p>
                <h3 *ngIf="!loading" class="box-title"><strong>Current Annotation {{ randomARG.entry.gene_id }}</strong> </h3>
              
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <dl class="dl-horizontal">
                  <dt>Antibiotic Class:</dt>
                  <dd><span class="badge bg-blue">{{ randomARG.entry.type }}</span></dd>
                  <dt>Antibiotic Group:</dt>
                  <dd><span class="badge bg-green">{{ randomARG.entry.subtype }}</span></dd>
                  <dt>Database:</dt>
                  <dd><span class="badge bg-blue">{{ randomARG.entry.database }}</span></dd>
                  <dt>Gene identifier:</dt>
                  <dd><span class="badge bg-black">{{ randomARG.entry.gene_id }}</span></dd>
                  <dt>Inspected:</dt>
                  <dd><span class="badge bg-blue">{{ randomARG.entry.inspected }}</span> </dd>
                  <dt>Score:</dt>
                  <dd><span class="badge bg-blue">{{ randomARG.entry.score }}</span></dd>
                </dl>

                <div class="col-md-12 text-center">
                    <button (click)="nextGene()" class="" color="red"  md-raised-button>Next</button> 
                </div>

                
              </div>
               
              <!-- /.box-body -->
            </div>
            <!-- /.box -->
          </div>


          <app-curate></app-curate>
          
         

          <!-- <div class="col-md-8">

            <div class="box box-solid box-primary">
              <div class="box-header">
                <i class="fa fa-edit"></i>
                <h3 class="box-title"><strong> Curate ARG entry {{ randomARG.entry.gene_id }}</strong></h3>
              </div>
              <div class="box-body">
                            
                

                <button (click)="nextGene()" class="" color="white"  md-raised-button>Next</button>

              </div>
            </div>
          </div> -->

        </div>

        

        <div *ngIf="randomARG.status==true" class="col-md-12">
          <md-tab-group>
              <md-tab  label="METADATA">

                <!--METADATA SECTION-->
                <classify-metadata-uniprot *ngIf="randomARG.entry.database=='UNIPROT'"> </classify-metadata-uniprot>
                <classify-metadata-card *ngIf="randomARG.entry.database=='CARD'"> </classify-metadata-card>
                <classify-metadata-ardb *ngIf="randomARG.entry.database=='ARDB'"> </classify-metadata-ardb>

              </md-tab>

              <md-tab  label="BEST HIT">
                <br><br>
                <div *ngFor="let bh of randomARG.besthit.alignments">
                  <!-- <p> {{ bh.best_hit_database }} </p>  -->
                  
                  <besthit-metadata-ardb *ngIf="bh.best_hit_database=='ARDB'"> </besthit-metadata-ardb>
                  <besthit-metadata-card *ngIf="bh.best_hit_database=='CARD'"> </besthit-metadata-card>   
                    
                </div>
              </md-tab>

              <md-tab  label="HORIZONTAL GENE TRANSFER">
                <genome-metadata *ngIf="randomARG.entry.database=='UNIPROT'" ></genome-metadata>
                <genome-metadata *ngIf="randomARG.entry.database=='CARD'" ></genome-metadata>
                <genome-metadata *ngIf="randomARG.entry.database=='ARDB'" ></genome-metadata>
              </md-tab>

          </md-tab-group>
        </div>
      
      
      </div>
    
    <!--</md-tab>-->

    <!--<md-tab label="Novel ARGs">Content 2</md-tab>-->
    
    <!--<md-tab label="Potential ARGs">Content 2</md-tab>-->

  <!--</md-tab-group>-->
</div>