<div class="">
    <div class="box box-solid box-primary">
        <div class="box-body">
            <p-steps styleClass="steps-custom" [(activeIndex)]="activeIndex" [readonly]="true" [model]="items"></p-steps>

            <p-dialog header="{{overlay.title}}" icon="fa-external-link-square" modal="modal" [(visible)]="display">

                <div class="">
                    <div class="box-body text-center">
                        <p>{{ overlay.content }}</p>
                        <p *ngIf="overlay.score"><strong>Your annotation score is: {{ overlay.score }}</strong> which is
                            <span class="badge bg-blue" *ngIf="overlay.score<overlay.average_score">lower</span>
                            <span class="badge bg-red" *ngIf="overlay.score>overlay.average_score">higher</span> than the average score ( {{ overlay.average_score }} ) for this gene. </p>
                    </div>
                </div>


                <p-footer class="text-center">
                    <button *ngIf="overlay.score" type="button" pButton icon="fa-check" (click)="continueReview()" label="Continue"></button>
                    <button *ngIf="!overlay.score" type="button" pButton icon="fa-check" (click)="display=false" label="Continue"></button>
                </p-footer>

            </p-dialog>

            <div *ngIf="step1 text-center">

                <!-- <div class="col-md-12"> -->
                <h4 class="text-center"><strong>ARG Annotation</strong></h4>
                <p>Please based on your observations add the corresponding data to the form below:</p>

                <md-input-container class="col-md-12">
                    <input type="text" mdInput [formControl]="myControl" [mdAutocomplete]="AClass" [(ngModel)]="antibiotic.class" placeholder="Antibiotic Class">
                </md-input-container>

                <md-autocomplete #AClass="mdAutocomplete">
                    <md-option *ngFor="let option of filteredOptions | async" [value]="option">
                        {{ option }}
                    </md-option>
                </md-autocomplete>

                <md-input-container class="col-md-12">
                    <input type="text" [formControl]="groupControl" [mdAutocomplete]="AGroup" mdInput [(ngModel)]="antibiotic.group" placeholder="Antibiotic Resistance Gene">
                </md-input-container>

                <md-autocomplete #AGroup="mdAutocomplete">
                    <md-option *ngFor="let option of groupFilteredOptions | async" [value]="option">
                        {{ option }}
                    </md-option>
                </md-autocomplete>

                <md-input-container class="col-md-12">
                    <input type="text" mdInput [(ngModel)]="antibiotic.mechanism" placeholder="Antibiotic Mechanism (if any)">
                </md-input-container>

                <br><br>

                <div class="col-md-12 text-center">
                    <button (click)="validate(1)" color="primary" md-raised-button>Next</button>
                    <!-- <button (click)="reportARG()" class="" color="red" md-raised-button>Report ARG</button> -->
                </div>
                <!-- </div> -->

            </div>



            <div *ngIf="step2">


                <!-- <div class="col-md-12"> -->
                <h4 class="text-center"><strong>Horizontal Gene Transfer</strong></h4>
                <div class="col-md-12">
                    <p>Is there any evidence that suggests the ARG to be carried by any of the following: </p>

                    <div *ngFor="let ht of mge_options">
                        <md-checkbox value="{{ht}}" (change)="mgeOptions(ht, $event)">{{ ht }}</md-checkbox>
                    </div>
                    <p>From a scale from 1 to 5 how would you rate this evidence? </p>
                    <star-rating-comp (onRatingChange)="onRatingChange('mge',$event)" [starType]="'svg'" [rating]="1" [labelPosition]="'top'"></star-rating-comp>
                    <p class="small"> Scores: 1 means there is not evidence and 5 means there is strong evidene that the gene is being carried by any of the three options.</p>
                    <hr>
                </div>




                <div class="col-md-12">
                    <h4 class="text-center"><strong>Pathogenic Genomes</strong></h4>

                    <p>Is there evidence that suggests the queried gene is present any pathogenic genomes? </p>

                    <!-- <md-radio-group [(ngModel)]="antibiotic.pathGenome">
                        <md-radio-button value="1">Yes</md-radio-button> <br>
                        <md-radio-button value="2">Not</md-radio-button> <br>
                    </md-radio-group> -->

                    <p>From a scale from 1 to 5 how would you rate this evidence? </p>
                    <star-rating-comp (onRatingChange)="onRatingChange('genome',$event)" [starType]="'svg'" [rating]="1" [labelPosition]="'top'"></star-rating-comp>
                    <p class="small">Scores: 1 means there is not evidence whereas 5 means there is strong evidence the gene is carried in a pathogen genome.</p>
                    <hr>

                </div>



                <div class="col-md-12 text-center">
                    <button (click)="validate(2)" color="primary" md-raised-button>Next</button>
                </div>
                <!-- </div> -->



            </div>

            <div *ngIf="step3">

                <!-- <div class="col-md-12"> -->
                <div class="col-md-12">
                    <!-- <h4 class="text-center"><strong>ARG annotation</strong></h4> -->
                    <dl class="dl">
                        <h4></h4>
                        <strong>ARG Class:</strong>
                        <span class=""> {{ antibiotic.class }} </span>
                        <br>

                        <strong>ARG Group:</strong>
                        <span class=""> {{ antibiotic.group }} </span>
                        <br>

                        <strong *ngIf="!antibiotic.mechanism==''">ARG Mechanism:</strong>
                        <span *ngIf="!antibiotic.mechanism==''">{{ antibiotic.mechanism }} </span>

                    </dl>
                    <hr>
                </div>

                <div class="col-md-12 col-md-offset-0 text-center">
                    <p>Please rate your level of expertise</p>
                    <star-rating-comp (onRatingChange)="onRatingChange('expertise',$event)" [starType]="'svg'" [rating]="1" [labelPosition]="'top'"></star-rating-comp>
                    <hr>
                </div>

                <div class="col-md-12 col-md-offset-0 text-center">
                    <p>Please rate your confidence in your observations</p>
                    <star-rating-comp (onRatingChange)="onRatingChange('confidence',$event)" [starType]="'svg'" [rating]="1" [labelPosition]="'top'"></star-rating-comp>
                    <hr>
                </div>

                <md-input-container class="col-md-12">
                    <p>Please add any relevant comments</p>
                    <textarea mdInput [(ngModel)]="antibiotic.comments" rows="5"></textarea>
                </md-input-container>


                <div class="col-md-12 text-center">
                    <button (click)="submitReview()" class="" color="green" md-raised-button>Submit</button>
                    <button (click)="validate(3)" class="" color="red" md-raised-button>Cancel</button>
                </div>


                <!-- </div> -->
            </div>



        </div>

    </div>

    <div *ngIf="inspectedGenes.length>0" class="box box-solid">
        <div class="box-header">
            <h3 class="box-title">Inspected genes: {{ inspectedGenes.length }}</h3>
        </div>
        <div class="box-body">

            <span *ngFor="let item of inspectedGenes" class="badge">
                {{ item }}
            </span>
        </div>
    </div>
</div>

<div>
    <div class="box">
        <div class="box-body">
            <p class="small">Please copy and paste this token to the Mturk website.</p>
            <strong>Token:</strong> <code *ngIf="inspectedGenes.length >= classifyComponent.trainingARGTotal+1">{{antibiotic.token}}</code>
        </div>
    </div>
</div>