<div class="col-md-10 col-md-offset-1">
    <div class="box box-solid">
        <div class="box-body">
            <h4>ARGminer database download</h4>
            <table class="table table-responsive table-bordered text-center">
                <tbody>
                    <tr class="table-success">
                        <th>Download Links</th>
                        <th>Version</th>
                        <th>Total ARG sequences</th>
                        <th>Known ARGs</th>
                        <th>Inspected ARGs</th>
                        <th>Potential ARGs</th>
                        <th>User validations</th>
                        <th>Comments</th>
                    </tr>

                    <tr *ngFor="let item of databases">
                        <td class="text-left">
                            <a [href]="'http://bench.cs.vt.edu/ftp/argminer/release/'+item.version+'.fasta'" target="_blank">database</a>
                            <br> <a [href]="'http://bench.cs.vt.edu/ftp/argminer/release/'+item.version+'.needInspection.fasta'" target="_blank">potentialARGs</a>
                        </td>
                        <td>{{ item.version }}</td>
                        <td>{{ item.total_args + item.potential_args }}</td>
                        <td>{{ item.total_args }}</td>
                        <td>{{ item.inspected_args }}</td>
                        <td>{{ item.potential_args }}</td>
                        <td>{{ item.user_inspections }}</td>
                        <td [style.width]="'300px'">
                            {{ item.comments }}
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>
            <h4>Structure of the database</h4>
            <div class="">
                ARGminer is released as a two fasta files
                <ul>
                    <li>
                        <strong>ARGminer-vxx.fasta:</strong> Contains ARGs that have been inspected by either ARGminer or have been reported in other curated databases (CARD, Resfinder, ARG-ANNOT, SARGs)
                    </li>
                    <li>
                        <strong> ARGminer-vxx.needInspection.fasta:</strong> These are ARGs from UniProt that have not been inspected yet and therefore the gene names have not been reviewed. In many cases the genes preserve the gene id from UniProt.
                    </li>
                </ul>
                To identify higher diversity, it is recommended to merge both databases and post process gene names.
                <hr> The headers of the fasta file contain the ARG information (>GeneID|['antibiotic class']|ARG name|Mechanism). See example below: <br> <br>
            </div>
            <pre>>ALX99516.1|['multidrug']|AdeC|Multi-drug efflux pumps
MSKSTIVSRGLILSTLSIALVACVNMQAPQPAITSHIPQNFSQNHSGKMIAEKSYK</pre>
        </div>
        <div class="box-footer text-center">
            <p class="small">*ARGminer uses the antibiotic resistance annotation from <a href="https://bench.cs.vt.edu/deeparg/" target="_blank">deepARG-DB</a>, <a href="https://card.mcmaster.ca/home" target="_blank">CARD</a>, <a href="https://ardb.cbcb.umd.edu/" target="_blank">ARDB</a>,
                <a href="http://www.uniprot.org/" target="_blank">UniProt</a>,
                <a href="https://megares.meglab.org/" target="_blank">MEGARes</a>,
                <a href="http://aclame.ulb.ac.be/" target="_blank">ACLAME</a>, <a href="https://www.patricbrc.org/" target="_blank">PATRIC</a> and <a href="https://www.ncbi.nlm.nih.gov/pubmed/" target="_blank">PubMed</a> databases. ARGminer is free for
                academic use, in any othercase, please check each one of the cited resources.</p>
        </div>
    </div>
</div>