<div class="col-md-8 col-md-offset-2">
    <div class="box box-solid">
        <div class="box-body">
            <table class="table table-responsive table-bordered text-center">
                <tbody>
                    <tr class="table-success">
                        <th>Database</th>
                        <th>Version</th>
                        <th>Comments</th>
                    </tr>

                    <tr *ngFor="let item of databases">
                        <td><a [href]="'http://bench.cs.vt.edu/ftp/argminer/release/'+item.version+'.fasta'" target="_blank">ARGminer-DB</a></td>
                        <td>{{ item.version }}</td>
                        <td>{{ item.comments }}</td>
                    </tr>
                </tbody>
            </table>
            <br>
            <h4>Structure</h4>
            <p class="small">ARGminer annotation can be downloaded as a fasta file. The annotation of each entry is reported in the fasta header as follows:</p>
            <code>
                >gene_id | score:0 | validated:True/False | ARG-Class | ARG-name | ARG-mechanism | MGE-score:0 | Pat-score:0  
            </code>
            <br><br>
            <p class="small">
                <strong>Score: </strong> Score of the validated entry.
                <br><strong> Validated:</strong> flag to show if the ARG has been validated.
                <br><strong>Pat(Pathogen):</strong> Evidence of the ARG being carried by a pathogen.
                <br><strong>MGE(Mobile Genetic Element):</strong> Evidence of the ARG being carried by a mobie element e.g., plasmids.
            </p>
            <p class="small">Genes that have not been validated conserve their original annotation (deepARG-DB)</p>
        </div>
        <div class="box-footer text-center">
            <p class="small">*ARGminer uses the antibiotic resistance annotation from <a href="https://bench.cs.vt.edu/deeparg/" target="_blank">deepARG-DB</a>, <a href="https://card.mcmaster.ca/home" target="_blank">CARD</a>, <a href="https://ardb.cbcb.umd.edu/" target="_blank">ARDB</a>,
                <a href="http://www.uniprot.org/" target="_blank">UniProt</a>,
                <a href="https://megares.meglab.org/" target="_blank">MEGARes</a>,
                <a href="http://aclame.ulb.ac.be/" target="_blank">ACLAME</a>, <a href="https://www.patricbrc.org/" target="_blank">PATRIC</a> and <a href="https://www.ncbi.nlm.nih.gov/pubmed/" target="_blank">PubMed</a> databases. ARGminer is free for
                academic use, in any othercase, please check each one of the cited resources.</p>
        </div>
    </div>
</div>