.st0{fill:#091115;}
.st1{fill:#000;}
.st2{fill:#000;}

.resistant
{
  background-image : url("../../../assets/resistant.svg");
  /*To create image referenced in CSS, use 'Export Selected CSS' command.*/
  background-repeat : no-repeat;
}

.bunknown
{
  background-image : url("../../../assets/unknown.svg");
  /*To create image referenced in CSS, use 'Export Selected CSS' command.*/
  background-repeat : no-repeat;
}

.susceptible
{
  background-image : url("../../../assets/susceptible.svg");
  /*To create image referenced in CSS, use 'Export Selected CSS' command.*/
  background-repeat : no-repeat;
}

.plasmid
{
  background-image : url("../../../assets/plasmid.svg");
  /*To create image referenced in CSS, use 'Export Selected CSS' command.*/
  background-repeat : no-repeat;
}

.virus
{
  background-image : url("../../../assets/virus.svg");
  /*To create image referenced in CSS, use 'Export Selected CSS' command.*/
  background-repeat : no-repeat;
}

.proph
{
  background-image : url("../../../assets/phage.svg");
  /*To create image referenced in CSS, use 'Export Selected CSS' command.*/
  background-repeat : no-repeat;
}