<div class="box box-solid">
    <div class="box-header with-border">
        <i class="fa fa-tag"></i>
        <h3 class="box-title"><strong> PATRIC  </strong>database</h3>
    </div>
    <div *ngIf="plasmid.length > 0" class="box-body">
        <h4>Plasmids</h4>
        <p>
            Prevalence of <strong> {{ randomARG.entry.gene_id }} </strong> in plasmids from the <a href="">PATRIC</a> database. Values represent the number of plasmids that contain this particular ARG and its AMR phenotype: resistant (<strong>R</strong>),
            susceptible (
            <strong>S</strong>), intermediate (<strong>I</strong>).
        </p>
        <p>
            ARGs were aligned against the plasmids from PATRIC database and only genes with an identity > 80% and a coverage of 90% were selected.
        </p>
        <br><br>

        <div *ngFor="let _plasmid of plasmid">

            <p-dataTable [value]="_plasmid['taxa-counts']" [rows]="5" [paginator]="true">
                <p-column>
                    <ng-template pTemplate="header">
                        <th>Specices</th>
                    </ng-template>
                    <ng-template let-gene="rowData" pTemplate="body">
                        <i> {{gene.taxa}} </i>
                    </ng-template>
                </p-column>

                <p-column>
                    <ng-template pTemplate="header">
                        <th>Counts</th>
                    </ng-template>
                    <ng-template let-gene="rowData" pTemplate="body">
                        <strong> {{gene.plasmids}} </strong>
                    </ng-template>
                </p-column>

                <p-column>
                    <ng-template pTemplate="header">
                        <th>R</th>
                    </ng-template>
                    <ng-template let-gene="rowData" pTemplate="body">
                        <strong> {{gene.resistant}} </strong>
                    </ng-template>
                </p-column>

                <p-column>
                    <ng-template pTemplate="header">
                        <th>S</th>
                    </ng-template>
                    <ng-template let-gene="rowData" pTemplate="body">
                        <strong> {{gene.susceptible}} </strong>
                    </ng-template>
                </p-column>

                <p-column>
                    <ng-template pTemplate="header">
                        <th>I</th>
                    </ng-template>
                    <ng-template let-gene="rowData" pTemplate="body">
                        <strong> {{gene.intermediate}} </strong>
                    </ng-template>
                </p-column>

            </p-dataTable>

        </div>

    </div>


    <div *ngIf="randomARG.pathogen.status==true" class="box-body">
        <h4>Pathogens</h4>
        <p>
            This section shows the proportion of pathogen bacteria that contains the gene {{ randomARG.entry['gene_id'] }} ( <strong>{{ randomARG.entry['subtype'] }}</strong>). Colors represent the quality of the evidence from very weak to very strong.
        </p>
        <p>
            <span class="label bg-red">Very Weak</span>
            <span class="label bg-yellow">Weak</span>
            <span class="label bg-green">Middle</span>
            <span class="label bg-blue">Strong</span>
            <span class="label bg-black">Very Strong</span>
        </p>

        <p>
            <strong>Pathogen Score:</strong>
            <span class="badge bg-red" *ngIf="genomeCount<10">
                                            {{(genomeCount).toFixed(1)}}%
                                        </span>
            <span class="badge bg-yellow" *ngIf="genomeCount<20 && genomeCount>10">
                                            {{(genomeCount).toFixed(1)}}%
                                        </span>
            <span class="badge bg-green" *ngIf="genomeCount<30 && genomeCount>20">
                                            {{(genomeCount).toFixed(1)}}%
                                        </span>
            <span class="badge bg-blue" *ngIf="genomeCount<60 && genomeCount>30">
                                            {{(genomeCount).toFixed(1)}}%
                                        </span>
            <span class="badge bg-black" *ngIf="genomeCount<90 && genomeCount>60">
                                            {{(genomeCount).toFixed(1)}}%
                                        </span>
        </p>
        <hr> The gene entry {{randomARG.entry.gene_id}} (<strong>{{ randomARG.entry.subtype }}</strong>) has been aligned to the <a href="https://www.patricbrc.org/">PATRIC</a> database using strict cutoffs to ensure the existence of the gene (>80% identity,
        >90% coverage).
        <br><br><strong>{{ randomARG['pathogen'].genomes_count }}</strong> genomes contain this particular gene ({{randomARG.entry.gene_id}}). From those,
        <strong>{{ randomARG.pathogen.genomes_pathogen }}</strong> (
        <span class="badge bg-red" *ngIf="genomeCount<10">
                            {{(genomeCount).toFixed(1)}}%
                        </span>
        <span class="badge bg-yellow" *ngIf="genomeCount<20 && genomeCount>10">
                            {{(genomeCount).toFixed(1)}}%
                        </span>
        <span class="badge bg-green" *ngIf="genomeCount<30 && genomeCount>20">
                            {{(genomeCount).toFixed(1)}}%
                        </span>
        <span class="badge bg-blue" *ngIf="genomeCount<60 && genomeCount>30">
                            {{(genomeCount).toFixed(1)}}%
                        </span>
        <span class="badge bg-black" *ngIf="genomeCount<90 && genomeCount>60">
                            {{(genomeCount).toFixed(1)}}%
                        </span>) genomes are labeled as <u>pathogens</u>.
    </div>


</div>


<div *ngIf="renderMobile" class="box box-solid">

    <div class="box-header with-border ">
        <i class="fa fa-tag"></i>
        <h3 class="box-title"><strong>ACLAME</strong> database </h3>
    </div>

    <div class="box-body">
        <p>
            This section contains evidence of ARGs being present in mobile-associated elements from the <a href="">ACLAME</a> database.
        </p>

    </div>

    <div *ngFor="let item of randomARG.mobile" class="box-body">
        <div *ngIf="item.status==true && item.identity.mean>50" class="">
            <div class="box-body">
                <dl class="dl-horizontal">
                    <dt>Type:</dt>
                    <dd>
                        <strong><p *ngIf="item.type=='proph'">Prophages</p></strong>
                        <strong><p *ngIf="item.type=='plasmid'">Plasmids</p></strong>
                        <strong><p *ngIf="item.type=='vir'">Viruses</p></strong>
                    </dd>
                    <dt>Count:</dt>
                    <dd> <span> {{ item.count }} </span></dd>
                    <dt>Similarity:</dt>
                    <dd> <span class="badge bg-{{ item.identity.color }}"> {{ item.identity.mean }}%  {{ '&plusmn;' }} {{item.identity.std}} </span></dd>
                    <dt>BitScore:</dt>
                    <dd> <span class="badge bg-{{ item.bitscore.color }}"> {{ item.bitscore.mean }} {{ '&plusmn;' }} {{item.bitscore.std}} </span></dd>
                    <dt>Coverage:</dt>
                    <dd> <span class="badge bg-{{ item.coverage.color }}"> {{  (100*item.coverage.mean/randomARG.entry['length']).toFixed(0) }}% {{ '&plusmn;' }} {{(100*item.coverage.std/randomARG.entry['length']).toFixed(0)}} </span></dd>
                    <dt>Description:</dt>
                    <dd>{{ item.mge_description }}</dd>
                    <dt>Gene Aclame ID:</dt>
                    <dd>{{ item.mge_id }}</dd>
                </dl>
            </div>

        </div>

    </div>

</div>

<div class="col-md-12" [style.height]="'200px'"></div>