<div *ngIf='render && session.get("online") == 2'>
    <div class="col-sm-3">
        <div class="box box-solid">
            <div class="box-header with-border text-center">
                <h4>Upgrade database</h4>
                <!-- <h3 class="box-title">
                <strong>Main Actions</strong>
            </h3> -->
            </div>
            <div class="box-body">


                <p class="small">Publish a new version of the ARG-miner database. This database is updated once a considered number of genes have been curated. Once you click submit it will create a new version of the database and update the download links under the Donwloads
                    tab.
                </p>


                <!-- UPGRADE DATABASE FORM -->
                <md-input-container class="col-md-12">
                    <input mdInput placeholder="Database version" [value]="databaseVersion" #dversion>
                </md-input-container>

                <md-input-container class="col-md-12">
                    <input type="text" mdInput #dmessage maxlength="256" placeholder="Comments" [value]="databaseComments">

                    <md-hint align="end">{{dmessage.value.length}} / 256</md-hint>
                </md-input-container>

            </div>
            <div class="box-footer">
                <br>
                <div class="col-md-12 text-center"> <button (click)="upgradeDataBase(dversion.value, dmessage.value)" class="bg-black" color="default" md-raised-button>Upgrade ARG-miner database</button><br><br></div>

                <p class="small">*The upgrading gets run in the background of the web server and the fasta file will be available under the downloads once the process is done.</p>
            </div>
        </div>
        <div class="box box-solid">
            <div class="box-header with-border text-center">
                <h4>Obtain Problematic Annotations</h4>
            </div>
            <div class="box-body">

                <p class="small">Use this tool after you have accepted/rejected annotations from the crowdsourcing platform. This action will compute/update all those ARGs that have conflicting annotations e.g., the same gene name associated to several ARG categories.</p>
                <div class="text-center"> <button (click)="updateConflictingARGs()" class="bg-blue" md-raised-button>Compute
            Problematic ARGs</button></div>
                <hr>
            </div>
        </div>
    </div>

    <div class="col-sm-9">

        <div class="box-body">
            <div class="box box-solid ">
                <div class="box-body">
                    <md-input-container class='col-sm-12 col-sm-offset-0'>
                        <input #keyword type="search" (keyup.enter)="search(keyword.value)" mdInput placeholder="Search ARG " value="" />
                    </md-input-container>
                </div>
            </div>
        </div>

        <div *ngFor="let item of curatedARGs" class="">
            <!-- <div class="box-header with-border"> -->
            <!-- <h3 class="box-title">{{item.entry.gene_id}}</h3> -->
            <!-- </div> -->

            <!-- <p>The gene <u>{{item.entry.gene_id}}</u> has been curated {{ item.inspected.length }} times.</p> -->
            <div class="col-md-12">

                <div class="col-md-4">
                    <div class="box box-solid box-primary">
                        <div class="box-header">
                            <h4 class="text-center"> <strong> Current Annotation </strong></h4>
                        </div>
                        <div class="box-body">
                            <ul class="clearfix">

                                <li *ngIf="item.entry.inspected > 1">
                                    <span class="badge bg-red"> <strong> Gene already curated </strong></span>
                                </li>

                                <li *ngIf="item.entry.deprecated">
                                    <span class="badge bg-red"> <strong> Gene has been deprecated </strong></span>
                                </li>

                                <li>
                                    <span class="users-list-date">Antibiotic Class</span> {{ item.entry.type }}
                                </li>
                                <li>
                                    <span class="users-list-date">ARG Name</span> {{ item.entry.subtype }}
                                </li>
                                <li>
                                    <span class="users-list-date">Database</span> {{ item.entry.database }}
                                </li>
                                <li>
                                    <span class="users-list-date">Gene ID</span> {{ item.entry.gene_id }}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-8">

                    <div class="box box-solid box-primary">
                        <div class="box-header">
                            <h4 class="text-center"> <strong> Weighted Annotation </strong> </h4>
                        </div>

                        <div class="box-body">
                            <ul class="clearfix">
                                <li>
                                    <span class="users-list-date">Antibiotic Class</span> {{ scores[0]['scores'][0]['name'] }}
                                </li>
                                <li>
                                    <span class="users-list-date">ARG name</span> {{ scores[1]['scores'][0]['name'] }}
                                </li>
                                <li>
                                    <span class="users-list-date">Antibiotic Resistance Mechanism</span> {{scores[2]['scores'][0]['name']}}
                                </li>
                            </ul>

                        </div>

                        <div class="box-footer">
                            <button (click)="acceptAnnotation()" class="pull-left bg-blue" md-raised-button>Approve</button>
                            <button (click)="deprecate()" class="pull-left bg-default" md-raised-button>Deprecate this
                ARG</button>
                            <button (click)="getARG(ARGindex)" class="pull-right bg-green" md-raised-button>Next Gene</button>
                        </div>
                    </div>
                </div>

            </div>

            <div class="box-body">
                <div class="col-md-12">
                    <!-- <h3 class="text-center">Crowsourced Annotation</h3> -->
                    <div class="box box-solid with-border box-primary">
                        <div class="box-body">

                            <div *ngFor="let kind of scores" class="col-md-12">
                                <!-- <hr> -->
                                <div>
                                    <h3>{{ kind.kind }}</h3>
                                    <p>This table shows the {{kind.kind}} results for the gene {{ item.entry.gene_id }}</p>
                                </div>
                                <br>
                                <table class="table table-responsive table-bordered text-center">
                                    <tbody>
                                        <tr class="table-success">
                                            <th>ARG {{kind.kind}}</th>
                                            <th>Counts</th>
                                            <th>Confidence/Expertise Score</th>
                                            <th>Majority Votes</th>
                                            <th>Validation Filter</th>
                                            <th>Score</th>
                                            <th>Weighted Score</th>
                                        </tr>

                                        <tr *ngFor="let itemx of kind.scores">
                                            <td>{{ itemx.name }}</td>
                                            <td>{{ itemx.counts }}</td>
                                            <td>{{ itemx.expertise_confidence_score.toFixed(4) }}</td>
                                            <td>{{ itemx.majority_voting_score.toFixed(2) }}</td>
                                            <td>{{ itemx.true_validation_filter_score.toFixed(2) }}</td>
                                            <td>{{ itemx.raw_score.toFixed(2) }}</td>
                                            <td>{{ itemx.score.toFixed(6) }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- <hr> -->
                            </div>
                        </div>
                    </div>
                </div>





                <div class="col-sm-12">
                    <div class="box box-solid">
                        <table class="table table-responsive table-bordered text-center">
                            <tbody>
                                <tr class="table-success">
                                    <th>Token</th>
                                    <th>Date</th>
                                    <th>Expertise</th>
                                    <th>Confidence</th>
                                    <th>Gene Name</th>
                                    <th>ARG Class</th>
                                    <th>ARG Mechanism</th>
                                </tr>
                                <tr *ngFor="let itemx of curatedARGs[0]['inspected']">
                                    <td>{{ itemx.token }}</td>
                                    <td>{{ itemx.date }}</td>
                                    <td *ngIf="itemx.rating.expertise; else expertiseBlockA">
                                        {{ (itemx.rating.expertise.value).toFixed(2) }}
                                    </td>
                                    <ng-template #expertiseBlockA>
                                        <td>0.00</td>
                                    </ng-template>
                                    <td *ngIf="itemx.rating.confidence; else confidenceBlockA">
                                        {{ (itemx.rating.confidence.value).toFixed(2) }} </td>
                                    <ng-template #confidenceBlockA>
                                        <td>0.00</td>
                                    </ng-template>
                                    <td>{{ itemx.group }}</td>
                                    <td>{{ itemx.class }}</td>
                                    <td>{{ itemx.mechanism }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
        </div>


    </div>



</div>