.box-vis {
    min-height: 190px !important;
    /* border-style: solid !important; */
    /* border-width: 1px; */
    /* border-color: rgba(0, 0, 0, 0.2); */
}

.box-vis-2 {
    min-height: 50px !important;
    max-height: 80px !important;
}