<div *ngIf="render">
    <div *ngFor="let bh of randomARG.besthit.alignments">
        <div *ngIf="bh.best_hit_database=='ARDB'" class="">

            <div class="box box-solid ">
                <div class="box-header with-border">
                    <i class="fa fa-gears"></i>
                    <h3 class="box-title"><strong> {{ bh.best_hit_database }} </strong> Database </h3>
                </div>

                <!-- /.box-header -->
                <div class="box-body">

                    <!-- <dd> -->
                    <h5>Resistance Mechanism</h5>
                    <p> {{bh.metadata.description}} </p>
                    <h5>AMR drug class / Gene family</h5>
                    <div *ngFor="let type of bh.metadata.resistance_profile">

                        <p-accordion>
                            <p-accordionTab [header]="type.type">
                                <p *ngIf="type.description"> {{ type.description }} </p>
                            </p-accordionTab>
                        </p-accordion>

                    </div>
                    <!-- <dd> -->
                </div>
            </div>
        </div>
    </div>
</div>