<div *ngIf="render">
    <div *ngFor="let bh of randomARG.besthit.alignments">
        <div *ngIf="bh.best_hit_database=='ARDB'" class="">

            <div class="box box-solid ">
                <div class="box-header with-border">
                    <i class="fa fa-gears"></i>
                    <h3 class="box-title"><strong> {{ bh.best_hit_database }} </strong> Database </h3>
                </div>

                <!-- /.box-header -->
                <div class="box-body">

                    <!-- <dd> -->
                    <p> {{bh.metadata.description}} </p>
                    <div *ngFor="let type of bh.metadata.resistance_profile">
                        <strong> <span class="strong">{{ type.type }} </span> </strong>
                        <p *ngIf="type.description"> {{ type.description }} </p>
                    </div>
                    <!-- <dd> -->
                </div>
            </div>
        </div>
    </div>
</div>