<div *ngIf="render">

    <div class="box box-solid">
        <div class="box-body">

            <p-dataTable [value]="cars">
                <p-column>
                    <ng-template pTemplate="header">
                        <th>Database</th>
                    </ng-template>
                    <ng-template let-gene="rowData" pTemplate="body">
                        <strong> {{gene.database.toUpperCase()}} </strong>
                    </ng-template>

                </p-column>
                <p-column>
                    <ng-template pTemplate="header">
                        <th>Gene Name</th>
                    </ng-template>
                    <ng-template let-gene="rowData" pTemplate="body">
                        {{gene.gene_name}}
                    </ng-template>
                </p-column>
                <p-column>
                    <ng-template pTemplate="header">
                        <th>Similarity</th>
                    </ng-template>
                    <ng-template let-gene="rowData" pTemplate="body">
                        <p-progressBar [value]="gene.similarity"></p-progressBar>
                    </ng-template>
                </p-column>
                <p-column>
                    <ng-template pTemplate="header">
                        <th>Coverage</th>
                    </ng-template>
                    <ng-template let-gene="rowData" pTemplate="body">
                        <p-progressBar [value]="gene.coverage"></p-progressBar>
                    </ng-template>
                </p-column>
                <p-column>
                    <ng-template pTemplate="header">
                        <th>*Bitscore Rate</th>
                    </ng-template>
                    <ng-template let-gene="rowData" pTemplate="body">
                        <p-progressBar [value]="gene.bitscore_rate"></p-progressBar>
                    </ng-template>
                </p-column>
                <p-column>
                    <ng-template pTemplate="header">
                        <th>Bitscore</th>
                    </ng-template>
                    <ng-template let-gene="rowData" pTemplate="body">
                        {{ gene.bitscore }}
                    </ng-template>
                </p-column>


            </p-dataTable>

            <br>
            <p class="small"> <strong>*Bitscore Rate</strong>: Reffers to the rate between the alignment bitscore and the optimal bitscore curated by CARD for this ARG.</p>


        </div>
    </div>

    <div *ngFor="let bh of randomARG.besthit.alignments">













        <div *ngIf="bh.best_hit_database=='CARD'" class="">
            <!-- <p>
                <strong> Scoring </strong>:
                <span class="label bg-red">Very Weak</span>
                <span class="label bg-yellow">Weak</span>
                <span class="label bg-green">Middle</span>
                <span class="label bg-blue">Strong</span>
                <span class="label bg-black">Very Strong</span>
            </p> -->
            <div class="box box-solid ">
                <div class="box-header with-border">
                    <i class="fa fa-gears"></i>
                    <h3 class="box-title"> <strong> {{ bh.best_hit_database }} </strong> Database </h3>

                </div>
                <!-- /.box-header -->
                <div class="box-body">



                    <h4>AMR Gene Family (Antibiotic Class)</h4>
                    <div *ngFor="let meta of bh.metadata">
                        <div *ngIf="meta.category_aro_class_name == 'AMR Gene Family'">
                            <p>
                                <strong> {{ meta.category_aro_name }} </strong>: {{ meta.category_aro_description}} </p>
                        </div>
                    </div>

                    <h4>Resistance Mechanism</h4>
                    <div *ngFor="let meta of bh.metadata">
                        <div *ngIf="meta.category_aro_class_name == 'Resistance Mechanism'">
                            <p>
                                <strong> {{ meta.category_aro_name }} </strong>: {{ meta.category_aro_description}} </p>
                        </div>
                    </div>

                    <h4>Drug Class</h4>
                    <div *ngFor="let meta of bh.metadata">
                        <div *ngIf="meta.category_aro_class_name == 'Drug Class'">
                            <p>
                                <strong> {{ meta.category_aro_name }} </strong>: {{ meta.category_aro_description}} </p>
                        </div>
                    </div>

                    <!-- <button color="primary" class="pull-left" md-mini-fab> <i class="fa fa-chevron-left"></i> </button> -->
                    <!-- <button color="primary" class="pull-right" md-mini-fab> <i class="fa fa-chevron-right"></i> </button> -->
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>

</div>