@import url('https://fonts.googleapis.com/css?family=Jua');
.nomenclature-text {
    font-family: 'Jua', sans-serif;
    color: green
}

.nomenclature-text-match {
    font-family: 'Jua', sans-serif;
    color: black !important;
    font-size: 17px !important;
}

svg {
    width: 100%;
}