body {
    background: rgba(0, 0, 0, 0.04) !important;
    font-family: 'Lato', sans-serif !important;
}

.navbar {
    font-size: 16px !important;
}

body {
    font-size: 15px !important;
}

.ui-widget {
    font-size: 14px !important;
}

.ui-progressbar {
    height: 22px !important;
}

.ui-progressbar-label {
    top: 1px;
    font-size: 14px
}

.ui-widget-content {
    border: 0px solid #000000;
}

.ui-progressbar-value {
    border: 1px solid #000000 !important;
    background: #8cefff !important;
}

table {
    font-size: 14px !important;
}